@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Secret Area";
}
<h1>@ViewData["Title"]</h1>

<p>Page for users authorized.</p>

@{
    if (this.IfClaim("Products", "Add"))
    {
        <p>You only see this if you have permission "Add"</p>
    }
}

<br />

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context, "Products", "Add")
</div>

<br />

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Products","Add"))">Delete</a>
</div>

