@model ErrorViewModel
@{ 
    ViewData["Title"] = Model == null ? "Occured an error!" : Model.Title;
}

@{ 
    if (Model == null)
    {
        <div>
            <h2>oops! Occured an error, but don't worry. Our team will be notificat and we fix issue early.</h2>
        </div>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }
}